body {
  margin: 0;
  height: 100vh;
  background: #05060f;
  box-sizing: border-box;
  overflow: hidden;
}

.halloween-message {
  position: absolute;
  top: 50px;
  left: 15%;
  text-align: center;
  font-size: 60px;
  color: orange; 
  margin-top: 20px; 
}

  .container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  /* Луна */
  .moon {
    position: absolute;
    top: -50px;
    left: 65%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #f2f2ea;
    box-shadow: 0px -6px 36px 0px #fbeb36, 0px 0px 16px 0px #ffb347;
    filter: blur(1px);
  }
  
  /* Веревка для тыковок */
  .dancing-line {
    background: red;
    border-top: 2px solid #8c5407;
    transform: rotateZ(-10deg);
    width: 100%;
    position: relative;
  }
  
  .stem {
    position: absolute;
    top: -14px;
    left: 60px;
    width: 6px;
    height: 24px;
    border-radius: 1px;
    background-color: #194d14;
  }
  
  /* Тыква */
  .pumpkin {
    position: absolute;
    top: 10px;
    left: 0;
    width: 130px;
    height: 100px;
    border-radius: 46px;
    background: rgb(255, 115, 0);
    transform: rotateZ(8deg);
    transform-origin: 50% 0;
  }

  /* Глаза */
  .eye {
    
  }

  .eye-right {
    
  }
  /* Круглые глаза */
  .rounded-eyes {
    position: absolute;
    z-index: 10;
    top: 105px;
    left: 30px;
  }

  .rounded-eyes:before,
  .rounded-eyes:after {
    content: "";
    position: absolute;
    width: 26px;
    height: 32px;
    background-color: orange;
    box-shadow: inset 1px 0 2px black, inset 20px 0 16px black,
      0px -4px 2px #ff5722 inset, 0px -2px 3px 2px #862400;
    border-bottom: 2px solid #ff5722;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  .rounded-eyes:before {
    top: -80px;
    left: -5px;
    transform: rotate(20deg);
  }

  .rounded-eyes:after {
    top: -80px;
    left: 60px;
    transform: rotate(-20deg);
  }
  
  /* Круглые маленькие глаза */
  .baby-eyes:before,
  .baby-eyes:after {
    
  }

  /* Рот-зигзаг */
  .mean-mouth {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 4px;
    z-index: 10;
    background: black;
    clip-path: polygon(
      14% 64%,
      25% 79%,
      32% 74%,
      41% 89%,
      50% 80%,
      54% 87%,
      60% 78%,
      66% 83%,
      73% 72%,
      78% 78%,
      88% 57%,
      78% 69%,
      73% 66%,
      66% 76%,
      59% 69%,
      54% 77%,
      47% 69%,
      43% 76%,
      34% 64%,
      26% 70%
    );
  }

  /* Круглый рот */
  .rounded-mouth {
    
  }

  /* Рот-зубастик */
  .bb-mouth {
    
  }

  .bb-mouth:before {
    
  }

  .bb-mouth:after {
    
  }

  /* Расстояния между тыквами */
  .pumpkin:nth-child(1) {
    animation: swing 0.8s ease-in-out forwards infinite;
  }
  .pumpkin:nth-child(2) {
    left: 240px;
    animation: swing 1s ease-in-out forwards infinite;
  }
  .pumpkin:nth-child(3) {
    left: 440px;
    animation: swing 1.6s ease-in-out forwards infinite;
  }
  .pumpkin:nth-child(4) {
    left: 640px;
    animation: swing 1s ease-in-out forwards infinite;
  }
  .pumpkin:nth-child(5) {
    left: 840px;
    animation: swing 1.2s ease-in-out forwards infinite;
  }
  .pumpkin:nth-child(6) {
    left: 1040px;
    animation: swing 1.6s ease-in-out forwards infinite;
  }
  .pumpkin:nth-child(7) {
    left: 1240px;
    animation: swing 1s ease-in-out forwards infinite;
  }
  .pumpkin:nth-child(8) {
    left: 1440px;
    animation: swing 1.6s ease-in-out forwards infinite;
  }
  
  /* Анимация раскачивания*/
  @keyframes swing {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  